.paragraf {
  /* Введите название фильма, сериала или мультфильма для поиска и добавления в избранное. */
  text-align: left;
  width: 550px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8e95a9;
}
