{
    "singleQuote": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["**/*.css", "**/*.scss", "**/*.html", "**/*.jsx"],
            "options": {
                "singleQuote": true
            }
        }
    ]
}