.button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
  height: 56px;
  border-radius: 12px;
  background: #7b6ef6;
  border: none;
}

.small {
  width: 119px;
}

.middle {
  width: 200px;
}

.button:hover {
  background: #222096;
}
