.nav-top {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-top-link {
  color: #a8aebf;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.active {
  color: white;
}

.count {
  background: #6b8ff1;
  border-radius: 50%;
  width: 24px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
}

.nav-top-icon {
  width: 24px;
  height: 24px;
  border-radius: 5px 0px 0px 0px;
}
